---
title: "Activity"
layout: base
eleventyNavigation:
  key: Stream
  order: 2
---

<ul>
    {% for item in collections.activity %}
        <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
    {% endfor %}
</ul>
