---
title: Articles
layout: base
eleventyNavigation:
  key: Articles
  order: 1
permalink: /
---

<section>
  <header>
    <h1 class="f1 lh-title">Articles</h1>
  </header>

  {%- for item in collections.articles | reverse %}
  <article class="pv4 bb bw1 b--divider">
    <h2 class="f3 f2-m f2-l lh-title measure-narrow-ns mt0 mb2">
      <a href="{{ item.url }}">{{ item.data.title }}</a>
    </h2>

    <div class="mb2">
      <time class="f5 mid-gray db" datetime="{{ item.date | dateToISO }}">{{ item.date | readableDate('dd LLLL yyyy') }}</time>
    </div>

    <div class="lh-copy measure-wide-m measure-wide-l">
      {{ item.data.excerpt }}
    </div>

    {%- if item.data.external %}
    <p>
      Article originally written for
      <span class="br-pill bw2 pv1 ph2 bg-mid-gray white dib">{{item.data.publication}}</span>
    </p>
    {%- endif %} 
    {% if item.data.tags %}
    <div class="mt3">
      <b>Tagged with:</b> {{ item.data.tags }}
    </div>
    {%- endif %}
  </article>

  {%- endfor %}
</section>