---
title: Bookmarks
layout: base
eleventyNavigation:
  key: Bookmarks
  order: 6
permalink: /bookmarks/
---

<ul>
    {% for item in collections.bookmarks | reverse %}
        <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
    {% endfor %}
</ul>
