---
title: Photos
layout: page-wide
pagination:
  data: collections.photos
  reverse: true
  size: 36
eleventyNavigation:
  key: Photos
  order: 5
---

<ul class="gallery">
    {% for item in pagination.items %}
      <li class="gallery_item">
        <article class="h-entry">
					<a class="u-url" href="{{ item.url }}" rel="bookmark">
            <img loading="lazy" class="u-photo" src="{{ site.cloudinary_url }}image/upload/w_320,h_320,c_fill,f_auto/photo_blog{{ item.data.image }}" width="320px" height="320px" alt="{{ item.data.altText }}"/>
          </a>
        </article>
      </li>
    {% endfor %}
</ul>
