---
title: Talks
layout: base
eleventyNavigation:
  key: Talks
  order: 3
permalink: /talks/
---

<ul>
    {% for item in collections.talks %}
        <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
    {% endfor %}
</ul>
