---
title: "Bookmarks"
layout: "layouts/base.liquid"
---

<ul>
    {% for item in collections.bookmarks reversed %}
        <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
    {% endfor %}
</ul>
