---
title: "Bookmarks"
layout: "layouts/base.njk"
eleventyNavigation:
  key: Bookmarks
  order: 6
---

<ul>
    {% for item in collections.bookmarks reversed %}
        <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
    {% endfor %}
</ul>
