---
title: "Photos"
layout: "layouts/base.njk"
pagination:
  data: collections.photos
  reverse: true
  size: 36
eleventyNavigation:
  key: Photos
  order: 5
---

<ul>
    {% for item in pagination.items %}
        <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
    {% endfor %}
</ul>
