---
title: "Stream"
layout: "layouts/base.liquid"
---

<ul>
    {%- for item in collections.all reversed -%}
        <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
    {%- endfor -%}
</ul>
