---
layout: base
---

<article class="h-entry">
    <header class="bb bw1 pb3 b--divider">
        <h1 class="f2 f1-l lh-title measure-narrow-ns mt0 mb2 | p-name">{{ title }}</h1>
    </header>

    {# <div class="post-meta">{% include author.html %}</div> #}

    <div class="content pt3 lh-copy measure-wide-m measure-wide-l | e-content">
        {{ content | safe }}
    </div>

    {% if tags %}
    <footer class="post-footer">
        <div class="mb3 | p-category">
          <b>Tagged:</b> {{ tags }}
        </div>
    </footer>
    {% endif %} 
    

</article>

{# <section class="webmentions">
    <h3>Webmentions</h3>
    {% webmentions page.url posts replies links %}
</section> #}

{# {% include post-navigation.html %} #}

