---
layout: "base"
---
<section class="page">

    <header>
        <h1>{{ title }}</h1>
        <p>
            <time datetime="{{ date | dateToISO }}">{{ date | readableDate('dd LLLL yyyy') }}</time>
            {% if tags %} /
            <span>{{ tags }}</span> {% endif %}
        </p>
    </header>

    <div>
        {{ content }}
    </div>

</section>