---
layout: base
---

<section>

    <header>
        <h1 class="f1 lh-title">{{ page.title }}</h1>
    </header>

    <div class="content | e-content">
        {{ content | safe }}
    </div>

</section>

